* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  display: block;
  text-align: center;
}
.h1-wraper {
  height: 100px;
}

h1 {
  margin-top: 30px;
}
.flex-container {
  background: white;
  display: inline-block;
}
.wraper {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: 5px;
}

.box {
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 3rem;
  font-weight: bold;
  background: white;
}

.zero {
  border: 5px solid black;
}
.one {
  border: 5px solid black;
}
.two {
  border: 5px solid black;
}
.three {
  border: 5px solid black;
}
.four  {
  border: 5px solid black;
}
.five {
  border: 5px solid black;
}
.six {
  border: 5px solid black;
}
.seven {
  border: 5px solid black;
}
.eight {
  border: 5px solid black;
}
.nine {
  border: 5px solid black;
}

footer {
    height: 50px;
    margin-top: 30px;
    justify-content: center;
}

.button {
    border: 3px solid black;
    border-radius: 20px;
    background-color: aquamarine;
    width: 100px;
    height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px; 
  }
  
  #message {
    margin-bottom: 20px; 
    background-color: blanchedalmond;
    width: 250px;
    height: 25px;
    border-radius: 10px;
    border: 3px solid black;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Apply the animation to the player classes */
  .X {
    background-color: transparent; /* Set the initial background color to transparent */
    color: limegreen; /* Set the color for 'X' player to lime green */
    transition: background-color 0.3s ease; /* Add transition for background-color */
    animation: spin 0.5s linear; /* Apply the spin animation */
  }
  
  .O {
    background-color: transparent; /* Set the initial background color to transparent */
    color: orange; /* Set the color for 'O' player to orange */
    transition: background-color 0.3s ease; /* Add transition for background-color */
    animation: spin 0.5s linear; /* Apply the spin animation */
  }
  
  /* Add winner-specific styles */
  .X-winner, .O-winner {
    background-color: transparent !important; /* Reset background color to transparent */
    animation: none !important; /* Disable spin animation for winners */
    color: white; /* Set text color for better readability */
    font-weight: bold; /* Add bold text for winners */
  }